<section id="about" class="about">
    <div class="container-fluid">
        {% for item in abouts %}
            <div class="row">
                <div class="col-lg-5 align-items-stretch video-box" style='background-image: url({{ item.photo.url }});'>
                    <a href= "{{ item.link_video }}" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>
                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
                    {{ item.description | safe }}
{#                    <div class="content">#}
{#                        <h3>{{ item.title }} <strong></strong></h3>#}
{#                        <p>#}
{#                            {{ item.description | safe }}#}
{#                        </p>#}
{#                    </div>#}
                </div>
            </div>
        {% endfor %}
    </div>
</section>