<section id="chefs" class="chefs">
    <div class="container">
        <div class="section-title">
            <h2>Наші досвідченні <span>Кухарі</span></h2>
            <p>Ми видібрали найкращіх у своїй справі!.</p>
            <p></p>
        </div>
        <div class="row">
            {% for item in personals %}
                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic"><img src={{ item.photo.url }} class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>{{ item.surname }} {{ item.name }}</h4>
                            <span>{{ item.major }}</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>