<section id="contact" class="contact">
    <div class="container">
        <div class="section-title">
            <h2><span>Наші</span> Контакти</h2>
            <p>Ми доступні весь робочий час нашого закладу.</p>
        </div>
    </div>

    <div class="map">
        <iframe style="border:0; width: 100%; height: 450px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10584.041033139038!2d35.04767962932328!3d48.456332712278616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe2d72c25703b%3A0x301ab7a92c32b6d0!2z0L_RgC3Rgi4g0JTQvNC40YLRgNC40Y8g0K_QstC-0YDQvdC40YbQutC-0LPQviwgMjUsINCU0L3QtdC_0YAsINCU0L3QtdC_0YDQvtC_0LXRgtGA0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNC40L3QsCwgNDkwMDA!5e0!3m2!1sru!2snl!4v1668382393128!5m2!1sru!2snl" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="container mt-5">
        <div class="info-wrap">
            <div class="row">
                {% for item in information %}
                    <div class="col-lg-3 col-md-6 info">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Адреса:</h4>
                        <p>{{ item.location }}<br>{{ item.location_city }}, індекс: {{ item.post_index }}</p>
                    </div>

                    <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                        <i class="bi bi-clock"></i>
                        <h4>Графік роботи:</h4>
                        <p>{{ item.open_days_start }}-{{ item.open_days_end }}:<br>{{ item.open_hours_start }} - {{ item.open_hours_end }}</p>
                    </div>

                    <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>{{ item.e_mail_1 }}<br>{{ item.e_mail_2 }}</p>
                    </div>

                    <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                        <i class="bi bi-phone"></i>
                        <h4>Телефон:</h4>
                        <p>+{{ item.call_1 }}<br>+{{ item.call_2}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <form method="post" role="form" class="php-email-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 form-group">
                    {{ form_user_message.name }}
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    {{ form_user_message.email }}
                </div>
            </div>
            <div class="form-group mt-3">
                {{ form_user_message.topic }}
            </div>
            <div class="form-group mt-3">
                {{ form_user_message.message }}
            </div>
            <div class="my-3">
                <div class="loading">Завантаження</div>
                <div class="error-message"></div>
                <div class="sent-message">Ваше повідомлення було відправлене. Дякую!</div>
            </div>
            <div class="text-center"><button type="submit">Відправити повідомлення</button></div>
        </form>
    </div>
</section>